body{
	background-color: #fafafa;
}

h1{
	text-align: center;
}

p{
	padding: 10px;
}

.sports_page{
	margin-top:  15px;
}

.espn_img{
	display: block;
	border-bottom: 5px solid black;
	height: 100%;
	padding-bottom: 15px;
}

.espn_titles{
	padding-top: 50px;
	text-align: center;
	font-size: 15px;

}

.big_espn_title{
	color: black; 
	font-weight:500;
	font-size: 30px;
	text-align: center;
}