.each-article{
	margin: 20px 10px 15px 5px;
	font-size: 15px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
}

body{
	background-color: #fafafa;
}

.firstsports{
background-color: forestgreen;
border: 1px solid black;
float: left;
width: 25%;
height: 300px;
margin: 10px;
text-align: center;
color: white;
font-size: 40px;
}

.secondsports{
	background-color: lightgrey;
	float: left;
	margin: auto;
	width: 45%;
	height: 100%;
	margin-top: 10px;
	border: 1px solid black;
	
}

.espnTitles{
	font-size: 12px;
	text-align: left;
	margin: auto;
	padding-top: 10px;
}

h1{
	text-align: center;

}

p{
	padding: 10px;
}

.thirdsports{
	float: right;
	margin:  10px;
	border: 1px solid black;
	width: 23%;

}