.each-article{
	margin: 20px 10px 15px 5px;
	font-size: 15px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
}

body{
	background-color: #fafafa;
}

.firstsports{
background-color: forestgreen;
float: right;
width: 35%;
height: 300px;
margin: 10px;
text-align: center;
color: white;
font-size: 40px;
}

.secondsports{
	background-color: lightgrey;
	float: left;
	margin: 15px;


}

.thirdsports{
	float: left;
	margin:  10px;
}
/* 
style={{backgroundColor:'lightgreen', float:'left', width:'50%', height:'50%'} */