.stock-wrapper{
	height: 80px;
	overflow: hidden;
	border-top: 1px solid white;
	margin-top: -6px;
}

.stock-rows{
	animation: 24s linear scrollStock infinite;
}
.stock-rows div:hover{
	background-color: #0099ff;
	color: white;
	cursor: pointer;
}

@keyframes scrollStock{
	0%{
		margin-top: 0
	}
	100%{
		margin-top: -260px;
	}
}

.stock-header{
	width: 100%;
	font-size: 16px;
	padding: 3px;
	overflow: hidden;
	max-height: 48px;
	border: 1px solid white;
}

.stock-header div{
	margin: 6px 10px;
	/* border: 1px blue solid; */
	padding: 3px;
}

.each-article{
	margin: 20px 10px 15px 5px;
	font-size: 15px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 10px;
}

body{
	background-color: #fafafa;
}