.eachArticle{
	font-size: 20px;
	font-weight: bold;
	background-color: #f1f3f4;
}

.eachArticle:hover{
	background-color:#b7b2b2;
	transition: linear 0.15s;
	transition-delay: 0.04s;
	opacity: 0.8;
}
